<head>
  <style>
  body {
    height: 100%;
    width: 100%;
    background-image: url("http://imageweb-cdn.magnoliasoft.net/leedsartgallery/supersize/lmg100000.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
  }
  </style>
</head>

<h1>You have attacked your opponent!</h1>

<p><%= @player_1_name %>:  <%=@player_1_HP%> HP</p>
<p><%= @player_2_name %>:  <%=@player_2_HP%> HP</p>

<form action="/attack_confirmation">
    <input type="submit" value="ATTACK!">
</form>
