<head>
  <style>
  body {
    height: 100%;
    width: 100%;
    background-image: url("http://cdn-01.independent.ie/incoming/article31186134.ece/feb19/ALTERNATES/w620/buffer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: left;
  }
  </style>
</head>


<h1>LETS GET READY TO RUUUMMBBBLLLE!!!</h1>
<h2>Sign in to play.</h2>
<form action="/names" method="post">
  <lable for='player_1_name'>
    Player 1
    <input type="text" name="player_1_name">
  </lable>
  <lable for='player_2_name'>
    Player 2
    <input type="text" name="player_2_name">
  </lable>
  <input type="submit" value="Submit">
</form>
